extends layout

block content
  div(class="container" ng-controller="HomeController")

      div.row
          div.col(class="s12 m10 l6 offset-m1 offset-l3")
              h1(class="center-align")
                img(src="images/logo.gif")
              div.row
                  form(name="simulationTimeForm" ng-submit="submit(times)")
                    div(class="input-field col s8 offset-s2")
                        input(id="times" name="times" ng-model="times" type="number" min="1" max="100000" required class="validate" placeholder="Enter Simulation Times" style="font-size:23px")
                    div(class="col s2" style="height:80px;")
                        button.btn-floating
                            i.material-icons(type="submit") play_arrow


      div.row
          div.col(class="s10 l6 offset-s1 offset-l3")
              ul.collapsible(data-collapsible="accordion")
                  li
                      div.collapsible-header(id="playBetCollapsibleHeader")
                          i(class="material-icons") settings
                          p Set Blind Pay Table
                      div.collapsible-body(id="playBetCollapsible")
                          div.card
                              form(name="playBetForm" ng-submit="savePlayBet(playBet)")
                                  div.card-content
                                      table(class="centered striped padded-table")
                                          thead
                                              tr
                                                  th Player Hand
                                                  th Pays
                                          tbody
                                              tr
                                                  td Royal flush
                                                  td
                                                          div(class="input-field col s5 offset-s2")
                                                              input( id="playBet.ROYAL_FLUSH", name="playBet.ROYAL_FLUSH", ng-model="playBet.ROYAL_FLUSH", min="0", type="number", value="defaultPlayBet.ROYAL_FLUSH" placeholder="{{defaultPlayBet.ROYAL_FLUSH}}")
                                                          p to 1
                                              tr
                                                  td Straight flush
                                                  td
                                                          div(class="input-field col s5 offset-s2")
                                                              input(id="playBet.STRAIGHT_FLUSH", name="playBet.STRAIGHT_FLUSH", ng-model="playBet.STRAIGHT_FLUSH", min="0", type="number", value="defaultPlayBet.STRAIGHT_FLUSH" placeholder="{{defaultPlayBet.STRAIGHT_FLUSH}}")
                                                          p to 1
                                              tr
                                                  td Four of a kind
                                                  td
                                                          div(class="input-field col s5 offset-s2")
                                                              input(id="playBet.FOUR_OF_A_KIND", name="playBet.FOUR_OF_A_KIND", ng-model="playBet.FOUR_OF_A_KIND", min="0", type="number", value="defaultPlayBet.FOUR_OF_A_KIND" placeholder="{{defaultPlayBet.FOUR_OF_A_KIND}}")
                                                          p to 1
                                              tr
                                                  td Full house
                                                  td
                                                          div(class="input-field col s5 offset-s2")
                                                              input(id="playBet.FULL_HOUSE", name="playBet.FULL_HOUSE", ng-model="playBet.FULL_HOUSE", min="0", type="number", value="defaultPlayBet.FULL_HOUSE" placeholder="{{defaultPlayBet.FULL_HOUSE}}")
                                                          p to 1
                                              tr
                                                  td Flush
                                                  td
                                                          div(class="input-field col s5 offset-s2")
                                                              input(id="playBet.FLUSH", name="playBet.FLUSH", ng-model="playBet.FLUSH", min="0", type="number", value="defaultPlayBet.FLUSH" placeholder="{{defaultPlayBet.FLUSH}}")
                                                          p to 1
                                              tr
                                                  td Straight
                                                  td
                                                          div.input-field(class="col s5 offset-s2")
                                                              input(id="playBet.STRAIGHT", name="playBet.STRAIGHT", ng-model="playBet.STRAIGHT", min="0", type="number", value="defaultPlayBet.STRAIGHT" placeholder="{{defaultPlayBet.STRAIGHT}}")
                                                          p to 1
                                  div.card-action
                                      div.row
                                          div.col(class="s3 offset-s4")
                                            button(class="btn waves-effect waves-light" type="submit") Save Play Bet


      div.row
          div.col(class="s10 m10 l6 offset-s1 offset-m1 offset-l3")
            div(class="row progress" ng-show="submitted")
              div.indeterminate

            div.row
                div(class="col offset-s1" id="chartContainer" ng-show="result && !submitted")


